* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
  margin-top: 30px;
}

.text {
  font-size: 40px;
  color: #98f5e1;
  margin: 0px;
  cursor: pointer;
  text-shadow: #88d0e6 1px 1px;
  transition: text-shadow 1s ease-out 0.25s;
}

.text:hover {
  text-shadow: 1px 1px #428dd8, 2px 2px #428dd8e7, 3px 3px #428dd8d8,
    4px 4px #428dd8c5, 5px 5px 7px #428dd8b2;
}

.box-first {
  height: 200px;
  width: 400px;
  cursor: pointer;
  background-color: #a3c4f3;
  border: 8px solid transparent;
  transition: border 1s ease-out 0.25s, border-radius 1s ease-out 0.25s;
}

.box-first:hover {
  border: 8px solid #a3c4f3;
  background-color: #e3bbf1;
  border-radius: 241px 0px/40px 0px;
}

.box-second {
  height: 200px;
  width: 400px;
  cursor: pointer;
  background-color: #b9daf0;
  border: 8px solid transparent;
  transition: border 1s ease-out 0.25s, background-color 1s ease-out 0.25s;
}

.box-second:hover {
  border: 8px inset #a3c4f3;
  background-color: #98f5e1;
}

.box-third {
  height: 200px;
  width: 400px;
  cursor: pointer;
  background-color: #90dbf4;
  border: 8px solid #96bbf0;
  outline: 8px solid transparent;
  transition: outline-color 1s ease-out 0.25s, outline-offset 1s ease-out 0.25s;
}
.box-third:hover {
  outline-color: #4998e2bb;
  outline-offset: 8px;
}

.box-fourth {
  height: 200px;
  width: 400px;
  cursor: pointer;
  background-color: #b0f7e7;
  transition: width 1s ease-out 0.25s, height 1s ease-out 0.25s,
    box-shadow 1s ease-out 0.25s;
}

.box-fourth:hover {
  width: 500px;
  height: 160px;
  box-shadow: 0 20px 20px -10px #7cd3df;
}

.container-second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  margin-top: 30px;
}

.container-moove {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.content {
  position: absolute;
  font-size: 70px;
  color: #afbdb1;
  text-shadow: 3px 3px 5px #a581e9, 5px 5px 5px #6acccfd8;
  transition: transform 1s ease-out 0.25s;
}

.container-moove:hover .content {
  transform: scale(150%);
}

.square {
  position: relative;
  width: 200px;
  height: 200px;
}

.blue {
  top: 0px;
  left: 0px;
  background-color: #a3c4f3;
  transition: transform 1s ease-out 0.25s;
  transform-origin: top left;
}

.container-moove:hover .blue {
  transform: rotate(90deg);
}

.light-blue {
  top: 0px;
  right: 0px;
  background-color: #90dbf4;
  transition: transform 1s ease-out 0.25s;
  transform-origin: top right;
}

.container-moove:hover .light-blue {
  transform: rotate(-90deg);
}

.violet {
  top: 0px;
  right: 0px;
  background-color: #cfbaf0;
  transition: transform 1s ease-out 0.25s;
  transform-origin: bottom left;
}

.container-moove:hover .violet {
  transform: rotate(-90deg);
}

.pink {
  top: 0px;
  right: 0px;
  background-color: #f1c0e8;
  transition: transform 1s ease-out 0.25s;
  transform-origin: bottom right;
}

.container-moove:hover .pink {
  transform: rotate(90deg);
}
